.demo-block .el-dropdown {
  vertical-align: top;
}
.demo-block .el-dropdown + .el-dropdown {
  margin-left: 15px;
}
.demo-block .el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.demo-block .tm-icon-arrow-down {
  font-size: 12px;
}
.block-col-2 {
  margin: -24px;
}
.block-col-2 .tm-col {
  padding: 30px 0;
  text-align: center;
  border-right: 1px solid #eff2f6;
}
.block-col-2 .tm-col:last-child {
  border-right: 0;
}
.demo-dropdown .demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}
